<h1>Create a new Post!</h1>

<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :content %>
    <%= f.text_area :content %><br><br>

    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, options: :include_blank %><br><br>

    <%= f.fields_for :categories do |ff| %>
        <%= ff.label :name %>
        <%= ff.text_field :name %><br>
    <% end %>

    <%= f.submit %>
<% end %>